#root {
    font-family: monospace;
    font-variant-caps: titling-caps;
}

span {
    font-weight: bold;
}

h2 {
    margin: 0;
    margin-bottom: 5px;
}

.users_container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.user_card {
    width: 250px;
    height: auto;
    background-color: rgb(235, 235, 235);
    margin: 20px;
    padding: 4px;
    text-align: center;
    overflow-y: auto;
    border: 2px solid black;
    box-shadow: 10px 10px 0px -1px rgba(230,235,76,1);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: rgba(230,235,76,1);
}